services:
  model_downloader:
    build:
      context: .
      dockerfile: Dockerfile.cuda
    image: local_rag-app-cuda

  ingest:
    build:
      context: .
      dockerfile: Dockerfile.cuda
    image: local_rag-app-cuda

  llm:
    build:
      context: .
      dockerfile: Dockerfile.cuda
    image: local_rag-app-cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  api:
    build:
      context: .
      dockerfile: Dockerfile.cuda
    image: local_rag-app-cuda

  benchmark:
    build:
      context: .
      dockerfile: Dockerfile.cuda
    image: local_rag-app-cuda